@page
@model Agri_Energy_Connect.Pages.Employee.DetailsModel
@{
}

<h1>Farmers</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Contact</th>
    </tr>
    </thead>
    @* <tbody> *@
    @* @foreach (var farmer in Model.Farmers) *@
    @* { *@
    @*     <tr> *@
    @*         <td>@farmer.Name</td> *@
    @*         <td>@farmer.Location</td> *@
    @*         <td>@farmer.Contact</td> *@
    @*     </tr> *@
    @* } *@
    @* </tbody> *@
</table>